<div class="navbar navbar-fixed-top">
    <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">{{ site.title }}</a>
        <div class="nav-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav pull-right hidden-print">
                <li>
                    <a class="hidden-sm" title="github" href="https://github.com/{{ site.author.github }}">
                        <i class="icon icon-github icon-large"></i>
                    </a>
                    <a class="visible-sm" title="github" href="https://github.com/{{ site.author.github }}">
                        <i class="icon icon-github icon-large"></i>
                        Github
                    </a>
                </li>
                <li>
                    <a class="hidden-sm" title="twitter" href="https://twitter.com/{{ site.author.twitter }}">
                        <i class="icon icon-twitter icon-large"></i>
                    </a>
                    <a class="visible-sm" title="twitter" href="https://twitter.com/{{ site.author.twitter }}">
                        <i class="icon icon-twitter icon-large"></i>
                        Twitter
                    </a>
                </li>
                <li>
                    <a class="hidden-sm" title="linkedin" href="https://www.linkedin.com/in/{{ site.author.linkedin }}">
                        <i class="icon icon-linkedin icon-large"></i>
                    </a>
                    <a class="visible-sm" title="linkedin" href="https://www.linkedin.com/in/{{ site.author.linkedin }}">
                        <i class="icon icon-linkedin icon-large"></i>
                        linkedin
                    </a>
                </li>
                <li>
                    <a class="hidden-sm" title="google+" href="https://plus.google.com/{{ site.author.google }}">
                        <i class="icon icon-google-plus-sign icon-large"></i>
                    </a>
                    <a class="visible-sm" title="google+" href="https://plus.google.com/{{ site.author.google }}">
                        <i class="icon icon-plus-sign icon-large"></i>
                        Google+
                    </a>
                </li>
                <li>
                    <a class="hidden-sm" href="/atom.xml" title="Atom Feed">
                        <i class="icon-rss icon-large"></i>
                    </a>
                    <a class="visible-sm" href="/atom.xml" title="Atom Feed">
                        <i class="icon-rss icon-large"></i>
                        Atom Feed
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>